$sidebar-color: #3d96a1;  
$search-background-color: #ffffff;  

$link-color: #166d49;          // gris foncé pour le body
$nav-child-link-color: #ffffff; // clair pour sidebar
$nav-child-link-color-active: #ffffff;
$nav-list-link-color: $nav-child-link-color;
$nav-list-link-color-active: $nav-child-link-color-active;

$body-background-color: #ffffff;

//$border-color:#cbf1ec;

